<mat-card>
    <mat-card-title>Alterar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Matrícula" [(ngModel)]="aluno.matricula" name="matricula" disabled="true">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="aluno.nome" name="name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="aluno.dataNascimento" name="dataNascimento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Curso</mat-label>
            <mat-select [(ngModel)]="aluno.curso" name="curso">
                <mat-option *ngFor="let curso of listaCursos" [value]="curso.key">
                    {{ curso.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>



    </form>
    <button mat-raised-button (click)="update()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="navigateAlunosPage()" color="secundary">
        Cancelar
    </button>
</mat-card>