<mat-card>
    <mat-card-title>Deletar Professor</mat-card-title>
    <form>

        <mat-form-field>
            <strong>
                <input matInput placeholder="Id Professor" [(ngModel)]="professor.id" name="matricula"
                    disabled="true">
            </strong>
        </mat-form-field>

        <mat-form-field>
            <strong>
                <input matInput placeholder="Nome do professor" [(ngModel)]="professor.name" name="name" disabled="true">
            </strong>
        </mat-form-field>

        <mat-form-field>
            <strong>
                <input matInput placeholder="Data de nascimento" [value]="professor.dataNascimento | date: 'dd/MM/yyyy'"
                    name="dataNascimento" disabled="true">
            </strong>
        </mat-form-field>

        <mat-form-field>
            <strong>
                <input matInput placeholder="Especialidade" [value]="obterEspecialidade(professor.especialidade!)" name="curso" disabled="true">
            </strong>
        </mat-form-field>

    </form>
    <button mat-raised-button (click)="delete()" class="excluir">
        Deletar
    </button>

    <button mat-raised-button (click)="navigateProfessorPage()" color="primary">
        Cancelar
    </button>
</mat-card>

<!-- TODO: Procurar sobre SnackBar -->